footer {
    margin: 2rem auto 0 auto;
    background-color: #000;
    color: #FFF;
    width: 100%;
    max-width: 1240px;
    box-sizing: border-box;
    text-align: center;
    padding: 2rem;
}

@media (max-width: 639px) {
  footer {
    padding: 1rem;
  }
}
